body {
  font-family: "Gilroy", sans-serif;
  /* background: black; */
  margin: 0;
  padding-bottom: 1000px;
}

.bg-image {
  height: 170vh;
  background-image: url("images/banner-bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

ul {
  padding: 0;
}

.container {
  padding: 0 calc(2rem + 1vw);
}

/* Default stylings */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-nav-link {
  display: flex;
  gap: 8px;
}

.inverted-caret {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav-menu-desktop {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: 5rem;
}

.nav-menu-desktop ul {
  padding: 0;
  margin: 0;
}

.nav-menu-desktop li {
  list-style: none;
}

.nav-menu-desktop a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.text-logo-wrapper h2 {
  color: #ffffff;
  font-size: 28px;
}

.shopping-bag {
  position: relative;
}

.bag-count {
  width: 20px;
  height: 24px;
  background: #e58411;
  color: #ffffff;
  position: absolute;
  font-size: 13px;
  top: 7px;
  left: 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner Stylings */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.banner h2 {
  font-size: 80px;
  margin-bottom: 0;
}

.banner h2,
.banner p {
  color: #ffffff;
  text-align: center;
}

.banner p {
  font-weight: 200;
  font-size: 24px;
  margin: 0;
}

.banner-input-wrapper {
  position: relative;
}

.banner-input-wrapper input {
  width: 310px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 42px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.86px solid rgba(255, 255, 255, 0.5);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
}

.search-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #e58411;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 11px;
}

/* Why choosing us stylings */

.why-choose-us {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.why-choose-us-title {
  font-size: 40px;
  font-weight: bold;
  width: 30%;
  padding-right: 2.5rem;
}

.choices {
  display: flex;
  align-items: center;
  width: calc(100% - 4rem);
  gap: 4rem;
}

.choice {
  width: 100%;
}
.choice h3 {
  font-size: 22px;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info p {
  font-size: 14px;
  color: #e58411;
}

/* Experiences Stylings */

.experiences {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(95% - 2rem - 1vw);
  gap: 10rem;
}

.experiences-img-wrapper {
  width: 70%;
  position: relative;
}

.experience-img {
  width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0px 35px 52px -24px rgba(0, 0, 0, 0.42);
}

.experience-img-box-1 {
  position: absolute;
  top: -64px;
  left: -40px;
  width: 90%;
  height: 80%;
  background: #f7f7f7;
  border-radius: 20px;
}

.experience-img-box-2 {
  position: absolute;
  top: 29px;
  left: 108px;
  width: 90%;
  height: 80%;
  background: #f7f7f7;
  z-index: -1;
  border-radius: 20px;
}

.experience-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experience-title {
  font-size: 18px;
  color: #e58411;
  font-weight: 600;
  margin: 0;
}

.experience-details > h3 {
  font-size: 42px;
  color: #1e1e1e;
  margin: 0;
}

.experience-text {
  font-size: 18px;
  color: rgba(30, 30, 30, 0.8);
  margin: 0;
}

.more-info-experiences {
  display: flex;
  align-items: center;
  gap: 7px;
}

.more-info-experiences > p {
  font-size: 14px;
  color: #e58411;
}

/* Materials Stylings */

.materials {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.materials-img-wrapper {
  width: 70%;
  position: relative;
}

.materials-img {
  width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 0px 35px 52px -24px rgba(0, 0, 0, 0.42);
}

.materials-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: calc(2rem + 1vw);
}

.gallery-container {
  width: 100%;
  display: flex;
  gap: 37px;
}

.gallery-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}

.gallery-right {
  display: flex;
  align-items: flex-end;
}

.gallery-item img {
  width: 100%;
  box-shadow: 0 20px 24px rgba(0, 0, 0, 0.2);
}

.materials-title {
  font-size: 18px;
  color: #e58411;
  font-weight: 600;
  margin: 0;
}

.materials-details > h3 {
  font-size: 42px;
  color: #1e1e1e;
  margin: 0;
}

.materials-text {
  font-size: 18px;
  color: rgba(30, 30, 30, 0.8);
  margin: 0;
}

.more-info-materials {
  display: flex;
  align-items: center;
  gap: 7px;
}

.more-info-materials > p {
  font-size: 14px;
  color: #e58411;
}

.gallery-right > .gallery-item {
  position: relative;
}

.gallery-img-box {
  position: absolute;
  width: 65%;
  height: 50%;
  top: -50px;
  right: 0;
  border-radius: 20px 0 0 0;
  background: #f7f7f7;
  z-index: -1;
}

/* Footer Stylings */

.footer {
  margin-top: 5rem;
  background: #f7f7f7;
  padding: 5rem 8rem;
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}
.footer-section {
  margin-bottom: 20px;
  flex: 1 1 200px;
  max-width: 250px;
}
.footer-section h2 {
  color: #1e1e1e;
  font-size: 28px;
  margin-top: 17px;
  margin-bottom: 36px;
}

.footer-text {
  font-size: 15px;
  color: #1e1e1e;
}
.footer-section h3 {
  color: #f6973f;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 17px;
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 21px;
}
.footer-section ul li a {
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.bottom-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-footer {
  color: rgb(30, 40, 51, 0.5);
}
.bottom-footer a {
  color: rgb(30, 40, 51);
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  margin-left: 15px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.social-icons a {
  text-decoration: none;
  color: rgb(30, 40, 51);
  font-weight: 500;
  font-size: 15px;
  display: flex;
  gap: 12px;
}

/* Desktop Stylings */

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }

  .nav-menu-desktop .first-nav-link-li {
    position: relative;
  }

  .submenu {
    display: none;
    width: 0;
    overflow: hidden;
    transition: width 0.7s ease;
  }

  .submenu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 30px;
    width: calc(100%);
    text-align: center;
    display: flex;
    padding: 0 0;
    gap: 15px;
    background: #808080;
    padding: 1rem;
  }
  .shopping-bag {
    display: none;
  }

  .shopping-bag.desktop {
    display: block;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .why-choose-us-title {
    font-size: 25px;
  }
  .choice h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
  /* Nav Links Stylings */
  .text-logo-wrapper h2 {
    font-size: 24px;
  }

  .nav-menu-desktop {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 51px;
  }
  .nav-menu-desktop a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
  }
}

/* Mobile Stylings */

@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 56px;
    z-index: 1;
    background-color: #808080;
    width: 0;
    padding: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease,
      width 0.3s ease;
  }

  nav a {
    color: black;
  }

  nav ul.active {
    max-height: 400px;
    opacity: 1;
    width: calc(95% - 2rem - 1vw);
    padding: 1.5rem 0;
  }

  .submenu {
    height: 0;
    overflow: hidden;
    transition: height 0.7s ease;
  }

  .submenu.active {
    height: 150px;
    position: relative;
    left: 0px;
    top: 20px;
    width: calc(100%);
    text-align: center;
    display: flex;
    padding: 0 0;
    gap: 15px;
  }

  .nav-menu-desktop {
    display: none;
  }

  .nav-menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .nav-menu-mobie ul {
    padding: 0;
    margin: 0;
  }

  .nav-menu-mobile li {
    list-style: none;
  }

  .nav-menu-mobile a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
  }

  .text-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu i {
    font-size: 22px;
    color: #ffffff;
  }

  .shopping-bag.desktop {
    display: none;
  }

  /* Banner Stylings */
  .banner h2 {
    font-size: 40px;
  }
  .banner p {
    font-size: 15px;
  }

  .banner-input-wrapper input {
    width: 210px;
  }

  .banner {
    padding: 0 1rem;
  }

  /* Why choosing us mobile stylings */
  .why-choose-us {
    flex-direction: column;
  }

  .why-choose-us-title {
    width: 100%;
    padding-right: 0;
    text-align: center;
    margin-bottom: 2rem;
  }

  .choices {
    flex-direction: column;
    gap: 2rem;
  }

  /* Experiences Section Stylings */

  .experiences {
    flex-direction: column;
    gap: 4rem;
  }

  .experience-details {
    text-align: center;
  }

  .more-info-experiences {
    justify-content: center;
  }

  .experiences-img-wrapper {
    width: 85%;
  }

  .experience-details > h3 {
    font-size: 30px;
  }

  .experiences-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .experience-img-box-1,
  .experience-img-box-2 {
    display: none;
  }

  /* Materials Stylings */

  .materials {
    flex-direction: column;
    text-align: center;
  }

  .materials-details {
    padding: 0 calc(2rem + 1vw);
  }

  .gallery-container-wrapper {
    padding-left: calc(2rem + 1vw);
  }

  .more-info-materials {
    justify-content: center;
  }

  .gallery-img-box { 
    display: none;
  }

  /* footer stylings */

  .footer {
    padding: 1rem 2rem;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bottom-footer {
    flex-direction: column;
  }
}
